<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcacg.mapper.CommentMapper">

    <resultMap id="CommentResultMap" type="com.qcacg.entity.CommentEntity">
        <id column="commentId" property="commentId"/>
        <result column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="bookId" property="bookId"/>
        <result column="CommentContent" property="commentContent"/>
        <result column="commentPicture" property="commentPicture"/>
        <result column="commentDate" property="commentDate"/>
        <result column="userHead" property="userHead"/>
        <result column="strickie" property="strickie"/>
        <collection property="replyEntityList" ofType="com.qcacg.entity.ReplyEntity" resultMap="RelyResultMap"/>
    </resultMap>

    <resultMap id="RelyResultMap" type="com.qcacg.entity.ReplyEntity">
        <id column="replyId" property="replyId"/>
        <result column="send_userId" property="userId"/>
        <result column="send_userName" property="userName"/>
        <result column="send_userHead" property="userHead"/>
        <result column="reply_commentId" property="commentId"/>
        <result column="ReplyContent" property="replyContent"/>
        <result column="replyPicture" property="replyPicture"/>
        <result column="replyDate" property="replyDate"/>
        <result column="replyUserId" property="replyUserId"/>
        <result column="replyUserName" property="replyUserName"/>
        <result column="replyStatus" property="replyStatus"/>
    </resultMap>

    <select id="findCommentAndReplyByBookId" resultMap="CommentResultMap" parameterType="java.lang.Long">
    SELECT
    inf_comment.CommentId AS commentId,
	inf_comment.UserId AS userId,
	sys_user.UserName AS userName,
	inf_comment.BookId AS bookId,
	inf_comment.CommentContent AS commentContent,
	inf_comment.CommentPicture AS commentPicture,
	inf_comment.CommentDate AS commentDate,
	inf_reply.ReplyId AS replyId,
	inf_reply.UserId AS send_userId,
	u1.UserName AS send_userName,
	inf_reply.CommentId AS reply_commentId,
	inf_reply.ReplyContent AS replyContent,
	inf_reply.ReplyPicture AS replyPicture,
	inf_reply.ReplyDate AS replyDate,
	inf_reply.ReplyUserId AS replyUserId,
	u2.UserName AS replyUserName
    FROM
	inf_comment
    LEFT JOIN inf_reply ON inf_comment.CommentId = inf_reply.CommentId
  LEFT JOIN sys_user u1 ON inf_reply.UserId = u1.UserId
  LEFT JOIN sys_user u2 ON inf_reply.ReplyUserId = u2.UserId
	LEFT JOIN sys_user ON sys_user.UserId = inf_comment.UserId
    WHERE
	inf_comment.BookId = #{bookId}
	ORDER BY
    inf_comment.CommentDate
    </select>
    
    <select id="findCommentByBookId" parameterType="com.qcacg.entity.comment.CommentReceive"
            resultMap="CommentResultMap">
        SELECT
    inf_comment.CommentId AS commentId,
	inf_comment.UserId AS userId,
	sys_user.UserName AS userName,
	sys_user.UserHead AS userHead,
	inf_comment.BookId AS bookId,
	inf_comment.Strickie AS strickie,
	inf_comment.CommentContent AS commentContent,
	inf_comment.CommentDate AS commentDate
    FROM
	inf_comment
	LEFT JOIN sys_user ON sys_user.UserId = inf_comment.UserId
    WHERE
	inf_comment.BookId = #{bookId}
	ORDER BY
    #{orderStr}
    limit #{startRow}, #{pageSize}
    </select>

    <select id="commentCount" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT
        count(inf_comment.CommentId)
        FROM
        inf_comment
        WHERE
        inf_comment.BookId = #{bookId}
    </select>

    <select id="findBookIdByCommentId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT
        inf_comment.BookId
        FROM
        inf_comment
        WHERE
        inf_comment.CommentId = #{commentId}
    </select>

    <select id="fingReplyByCommentId" parameterType="com.qcacg.entity.comment.CommentReceive"
            resultMap="RelyResultMap">
        SELECT
            inf_reply.ReplyId AS replyId,
            inf_reply.UserId AS send_userId,
            u1.UserName AS send_userName,
            u1.UserHead AS send_userHead,
            inf_reply.CommentId AS commentId,
            inf_reply.ReplyContent AS replyContent,
            inf_reply.ReplyDate AS replyDate,
            inf_reply.ReplyUserId AS replyUserId,
            inf_reply.ReplyStatus AS replyStatus,
            u2.UserName AS replyUserName
        FROM
            inf_reply
            LEFT JOIN sys_user u1 ON inf_reply.UserId = u1.UserId
            LEFT JOIN sys_user u2 ON inf_reply.ReplyUserId = u2.UserId
        WHERE
            inf_reply.CommentId = #{commentId}
        ORDER BY
        inf_reply.ReplyDate
        limit #{startRow}, #{pageSize}
    </select>
    <!-- 2017年1月7日13:26:55 旧findRepayByCommentId -->
    <select id="fingReplyByCommentId_1" parameterType="com.qcacg.entity.comment.CommentReceive"
            resultMap="RelyResultMap">
        SELECT
        inf_reply.ReplyId AS replyId,
        inf_reply.UserId AS send_userId,
        u1.UserName AS send_userName,
        u1.UserHead AS send_userHead,
        inf_reply.CommentId AS commentId,
        inf_reply.ReplyContent AS replyContent,
        inf_reply.ReplyDate AS replyDate,
        inf_reply.ReplyUserId AS replyUserId,
        inf_reply.ReplyStatus AS replyStatus,
        u2.UserName AS replyUserName
        FROM
        sys_user u1,
        inf_reply,
        sys_user u2
        WHERE
        inf_reply.UserId = u1.UserId
        AND
        inf_reply.ReplyUserId = u2.UserId
        AND inf_reply.CommentId = #{commentId}
        ORDER BY
        inf_reply.ReplyDate
        limit #{startRow}, #{pageSize}
    </select>

    <select id="replyCount" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT
        count(inf_reply.ReplyId)
        FROM
        inf_reply
        WHERE
        inf_reply.CommentId = #{commentId}
    </select>

    <insert id="insertComment" parameterType="com.qcacg.entity.CommentEntity" useGeneratedKeys="true" keyProperty="commentId">
        <selectKey keyProperty="commentId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() as commentId
        </selectKey>
        INSERT INTO inf_comment (userId,userName,bookId,commentContent,commentPicture)
        VALUES( #{userId,jdbcType=BIGINT},#{userName,jdbcType=VARCHAR},#{bookId,jdbcType=BIGINT},#{commentContent,jdbcType=VARCHAR},#{commentPicture,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteComment" parameterType="java.lang.Long">
        DELETE inf_comment, inf_reply
        FROM
        inf_comment LEFT JOIN inf_reply
        ON
        inf_comment.CommentId = inf_reply.CommentId
        WHERE
        inf_comment.CommentId = #{inf_comment.CommentId}
    </delete>

    <update id="updateStrickie" parameterType="java.lang.Long">
        UPDATE inf_comment SET inf_comment.Strickie = '0'
        WHERE inf_comment.Strickie = '1' AND inf_comment.BookId = #{bookId}
    </update>
    
    <update id="createStrickie" parameterType="com.qcacg.entity.CommentEntity">
        UPDATE inf_comment SET inf_comment.Strickie = '1'
        WHERE inf_comment.CommentId = #{commentId} AND inf_comment.BookId = #{bookId}
    </update>
</mapper>