<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcacg.mapper.IndexMapper">


    <resultMap id="BookResultMap" type="com.qcacg.entity.book.BookCustom">
        <id column="bookId" property="bookId"/>
        <result column="userId" property="userId"/>
        <result column="bookName" property="bookName"/>
        <result column="sort" property="sort"/>
        <result column="bookIntroduction" property="bookIntroduction"/>
        <result column="bookUpdate" property="bookUpdate"/>
        <result column="bookCoverImage" property="bookCoverImage"/>
        <result column="bookWordCount" property="bookWordCount"/>
        <result column="bookStatus" property="bookStatus"/>
        <result column="bookHit" property="bookHit"/>
        <result column="bookCollect" property="bookCollect"/>
        <result column="bookCopperCoins" property="bookCopperCoins"/>
        <association property="userEntity" javaType="com.qcacg.entity.UserEntity">
            <id column="userId" property="userId"/>
            <result column="userName" property="userName"/>
            <result column="information" property="information"/>
            <result column="userHead" property="userHead"/>
        </association>
    </resultMap>
    
    <select id="findOtherRecom" resultMap="BookResultMap" parameterType="com.qcacg.entity.book.Pagination">
SELECT
	wor_book.BookId AS bookId,
	wor_book.UserId AS userId,
	wor_book.BookName AS bookName,
	wor_book.Sort AS sort,
	wor_book.BookIntroduction AS bookIntroduction,
	wor_book.BookUpdate AS bookUpdate,
	wor_book.BookCoverImage AS bookCoverImage,
	wor_book.BookWordCount AS bookWordCount,
	wor_book.BookStatus AS bookStatus,
	wor_book.BookHit AS bookHit,
	wor_book.BookCollect AS bookCollect,
	wor_book.BookCopperCoins AS bookCopperCoins,
	wor_book.BookSilverCoins AS bookSilverCoins,
	sys_user.UserId AS userId,
	sys_user.UserName AS userName,
	sys_user.Information AS information,
	sys_user.UserHead AS userHead
FROM
	wor_book
LEFT JOIN sys_user ON wor_book.UserId = sys_user.UserId
WHERE
    wor_book.BookStatus = '0'
    AND
    wor_book.IsRecommended = '1'
    AND
    wor_book.BookOnIndex = '0'
    ORDER BY
    wor_book.BookHit DESC
    limit #{pageNo}, #{pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
SELECT
  COUNT(wor_book.BookId)
FROM
	wor_book
LEFT JOIN sys_user ON wor_book.UserId = sys_user.UserId
WHERE
    wor_book.BookStatus = '0'
    AND
    wor_book.IsRecommended = '1'
    AND
    wor_book.BookOnIndex = '0'
    </select>
</mapper>