<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcacg.mapper.ReportMapper">

    <select id="findReportTypeNameByReportTypeId" parameterType="long" resultType="string">
        SELECT
        inf_reporttype.ReportTypeName AS reportTypeName
        FROM
        inf_reporttype
        WHERE
        ReportTypeId=#{reportTypeId}
    </select>

    <insert id="insertReportTypeBatch" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO inf_reporttype (ReportTypeName, ReportTypeDescription)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.reportTypeName}, #{item.descri})
        </foreach>
    </insert>

    <insert id="insertReport" parameterType="com.qcacg.entity.ReportEntity">
        <selectKey keyProperty="reportId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() as reportId
        </selectKey>
        INSERT INTO inf_report (reportTypeId, reportContent, reporterId, replyId, commentId)
        VALUES (#{reportTypeId}, #{reportContent}, #{reporterId}, #{replyId}, #{commentId})
    </insert>

    <select id="findAllReport" resultType="com.qcacg.entity.ReportEntity">
        SELECT
            ReportId AS reportId,
            ReportTypeId AS reportTypeId,
            ReportContent AS reportContent,
            ReporterId AS reporterId,
            ReportDate AS reportDate,
            CommentId AS commentId,
            ReplyId AS replyId,
            ReportStatus AS reportStatus
        FROM
          inf_report
        WHERE
          ReportStatus='0'
        ORDER BY
        ReportDate
    </select>

    <select id="findCommentContentByCommentId" parameterType="long" resultType="string">
      SELECT
        CommentContent as commentContent
      FROM
        inf_comment
      WHERE
        CommentId=#{commentId}
    </select>

    <select id="findReplyContentByReplyId" parameterType="long" resultType="string">
        SELECT
        ReplyContent as replyContent
        FROM
        inf_reply
        WHERE
        ReplyId=#{replyId}
    </select>

    <update id="updateReportStatusByReportId" parameterType="long">
        update inf_report
        set ReportStatus='1'
        where ReportId=#{reportId}
    </update>

    <select id="findCommentIdAndReplyIdByReportId" parameterType="long" resultType="map">
        SELECT
          CommentId as commentId,
          ReplyId as replyId
        FROM inf_report
        WHERE
          ReportId=#{reportId}
    </select>

    <update id="updateCommentContentByCommentId" parameterType="long">
        update inf_comment
        set CommentContent='您的内容中存在违规信息!'
        where CommentId=#{commentId}
    </update>

    <update id="updateReplyContentByReplyId" parameterType="long">
        update inf_reply
        set ReplyContent='您的内容中存在违规信息!'
        where ReplyId=#{replyId}
    </update>

    <select id="findReportStatusByReportId" parameterType="long" resultType="string">
        SELECT
          ReportStatus as reportStatus
        FROM inf_report
        WHERE
          ReportId=#{reportId}
    </select>

</mapper>