<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcacg.mapper.SysInfoMapper">

    <resultMap id="infoResult" type="com.qcacg.entity.MessageEntity">
        <result column="messageId" property="messageId"/>
        <result column="messageTitle" property="messageTitle"/>
        <result column="message" property="message"/>
        <result column="messageCreateDate" property="messageCreateDate"/>
        <result column="messageStatus" property="messageStatus"/>
        <result column="cycleId" property="messageType"/>
        <result column="userId" property="identification"/>
    </resultMap>

    <!-- 作品相关 -->
    <select id="queryBookNoti" resultMap="infoResult" parameterType="com.qcacg.entity.message.MessageReceive">
      SELECT
      inf_user_message.MessageId AS messageId,
      inf_user_message.MessageTitle AS messageTitle,
      inf_user_message.Message AS message,
      inf_user_message.MessageCreateDate AS messageCreateDate,
      inf_user_message.MessageStatus AS messageStatus
      FROM
      inf_user_message
      WHERE
      inf_user_message.UserId = #{userId}
      AND
      inf_user_message.MessageType = '0'
      ORDER BY inf_user_message.MessageStatus, inf_user_message.MessageCreateDate DESC
      limit #{startRow}, #{pageSize}
    </select>

    <!-- 统计作品相关所有消息条数 -->
    <select id="countBookNoti" resultType="java.lang.Integer" parameterType="java.lang.Long">
      SELECT
      count(inf_user_message.MessageId)
      FROM
      inf_user_message
      WHERE
      inf_user_message.UserId = #{userId}
      AND
      inf_user_message.MessageType = '0'
    </select>

    <!-- 统计作品相关的未读消息数量 -->
    <select id="countNoti" resultType="java.lang.Integer" parameterType="java.lang.Long">
      SELECT
      count(inf_user_message.MessageId)
      FROM
      inf_user_message
      WHERE
      inf_user_message.UserId = #{userId}
      AND
      inf_user_message.MessageType = '0'
      AND
      inf_user_message.MessageStatus = '0'
    </select>

    <!-- 系统消息 -->
    <select id="querySysInfo" resultMap="infoResult" parameterType="com.qcacg.entity.message.MessageReceive">
      SELECT
      inf_user_message.MessageId AS messageId,
      inf_user_message.MessageTitle AS messageTitle,
      inf_user_message.Message AS message,
      inf_user_message.MessageCreateDate AS messageCreateDate,
      inf_user_message.MessageStatus AS messageStatus,
      inf_user_message.UserId AS userId,
      msg.RecycleId AS cycleId
      FROM
      inf_user_message LEFT JOIN (SELECT RecycleId, MessageId FROM inf_message_recycle WHERE UserId = #{userId}) AS msg ON inf_user_message.MessageId = msg.MessageId
      WHERE
      inf_user_message.MessageType = '1'
      AND
      inf_user_message.UserId IS NULL
      OR
      inf_user_message.MessageType = '1'
      AND inf_user_message.UserId = #{userId}
      ORDER BY inf_user_message.MessageCreateDate DESC
      limit #{startRow}, #{pageSize}
    </select>

    <!-- 统计系统消息条数 -->
    <select id="countSysInfo" resultType="java.lang.Integer" parameterType="java.lang.Long">
      SELECT
      count(inf_user_message.MessageId)
      FROM
      inf_user_message
      WHERE
      inf_user_message.MessageType = '1'
      AND
      inf_user_message.UserId IS NULL
      OR
      inf_user_message.MessageType = '1'
      AND inf_user_message.UserId = #{userId}
    </select>

    <!-- 系统消息未读条数 -->
    <select id="countSys" parameterType="java.lang.Long" resultType="java.lang.Integer">
      SELECT
(SELECT
      count(inf_user_message.MessageId)
      FROM
      inf_user_message
      WHERE
      inf_user_message.MessageType = '1'
      AND
      inf_user_message.UserId IS NULL
      OR
      inf_user_message.MessageType = '1'
      AND inf_user_message.UserId = #{userId})
-
(SELECT
	COUNT(inf_user_message.MessageId)
FROM
	inf_user_message LEFT JOIN inf_message_recycle ON inf_user_message.MessageId = inf_message_recycle.MessageId
WHERE
	inf_user_message.MessageStatus = '1'
AND
	inf_user_message.MessageType = '1'
AND
	inf_user_message.UserId = #{userId}
OR
	inf_user_message.MessageType = '1'
AND
	inf_user_message.UserId IS NULL
AND
	inf_message_recycle.UserId = #{userId})
AS del
FROM DUAL
    </select>


    <!-- 官方公告 -->
    <select id="queryOfficialInfo" resultMap="infoResult" parameterType="com.qcacg.entity.message.MessageReceive">
      SELECT
      inf_user_message.MessageId AS messageId,
      inf_user_message.MessageTitle AS messageTitle,
      inf_user_message.Message AS message,
      inf_user_message.MessageCreateDate AS messageCreateDate,
      inf_user_message.MessageStatus AS messageStatus,
      msg.RecycleId AS cycleId
      FROM
      inf_user_message LEFT JOIN (SELECT RecycleId, MessageId FROM inf_message_recycle WHERE UserId = #{userId}) AS msg ON inf_user_message.MessageId = msg.MessageId
      WHERE
      inf_user_message.MessageType = '2'
      ORDER BY inf_user_message.MessageCreateDate DESC
      limit #{startRow}, #{pageSize}
    </select>

    <!-- 官方公告总条数 -->
    <select id="countOfficialInfo" resultType="java.lang.Integer">
      SELECT
      count(inf_user_message.MessageId)
      FROM
      inf_user_message
      WHERE
      inf_user_message.MessageType = '2'
    </select>

    <!-- 官方公告未读条数 -->
    <select id="countOfficial" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT
	(SELECT
      count(inf_user_message.MessageId)
      FROM
      inf_user_message
      WHERE
      inf_user_message.MessageType = '2')
-
	(SELECT count(inf_user_message.MessageId)
		FROM inf_user_message, inf_message_recycle
		WHERE inf_user_message.MessageId = inf_message_recycle.MessageId
		AND inf_message_recycle.UserId = #{userId}
		AND inf_user_message.MessageType = '2')
AS del
FROM DUAL
    </select>

    <!-- 统计未读回复 -->
    <select id="countReply" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT
        count(inf_reply.ReplyId)
        FROM
        inf_reply,
        inf_comment
        WHERE
        inf_reply.CommentId = inf_comment.CommentId
        AND inf_reply.ReplyType = '0'
        AND inf_reply.ReplyUserId = #{inf_reply.ReplyUserId}
    </select>

    <insert id="insertSysInfo" parameterType="com.qcacg.entity.SysInfoEntity">
        <selectKey keyProperty="systemInformationId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() as systemInformationId
        </selectKey>
        INSERT INTO inf_systeminformation (systemInformationId, systemInformationTitle, systemInformationContent, systemInformationPicture, systemInformationStatus)
        VALUES (#{systemInformationId}, #{systemInformationTitle}, #{systemInformationContent}, #{systemInformationPicture}, #{systemInformationStatus})
    </insert>

    <delete id="deleteSysInfo" parameterType="java.lang.Long">
        DELETE FROM
        inf_systeminformation
        WHERE
        SystemInformationId = #{systemInformationId}
    </delete>

    <insert id="insertMessage" useGeneratedKeys="true" parameterType="java.util.Map">
        INSERT INTO inf_user_message(userId, messageTitle, message, messageType)
        VALUES
        <if test="userId != null">
            <foreach collection="userId" item="item" index="index" separator=",">
                (#{item}, #{messageTitle}, #{message}, #{messageType})
            </foreach>
        </if>
        <if test="userId == null">
            (#{userId}, #{messageTitle}, #{message}, #{messageType})
        </if>
    </insert>

    <insert id="insertCycle" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO inf_message_recycle (userId, messageId)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.identification}, #{item.messageId})
        </foreach>
    </insert>

    <delete id="deleteMessage" parameterType="java.lang.Long">
        DELETE FROM
        inf_user_message
        WHERE
        MessageId = #{messageId}
    </delete>

    <update id="updateMessageStatus" parameterType="java.util.List">
        UPDATE inf_user_message
        SET inf_user_message.MessageStatus = '1'
        WHERE
        inf_user_message.MessageId
        IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.messageId}
        </foreach>
    </update>
</mapper>