<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qcacg.mapper.InfCardLogMapper" >
    <select id="findAllByUserId" parameterType="java.lang.Long" resultType="com.qcacg.dto.InfCardLogDTO">
        SELECT
--             cl.log_id AS logId,
            cl.create_time AS createTime,
            cl.type_description AS typeDescription,
            cl.order_status AS orderStatus,
--             cl.ip AS Ip,
--             cl.update_time AS updateTime,
            cl.pay_card_amount AS payCardAmount,
            cl.welfare_card_amount AS welfareCardAmount,
--             cl.book_id AS bookId,
--             cl.inf_cash_log_id,
            u1.UserName AS payUserName,
            u2.UserName AS paiedUserName
        FROM
            inf_card_log AS cl,
            sys_user AS u1,
            sys_user AS u2
        WHERE
            (
                cl.pay_user_id = #{userId}
                OR cl.paied_user_id = #{userId}
            )
        AND cl.pay_user_id = u1.UserId
        AND cl.paied_user_id = u2.UserId
        ORDER BY
            cl.create_time DESC
    </select>

    <select id="findOneByLogId" parameterType="java.lang.String" resultType="com.qcacg.dto.InfCardLogDTO">
        SELECT
            u1.UserName AS payUserName,
            u2.UserName AS paiedUserName,
            icl.log_id AS logId,
            icl.create_time AS createTime,
            icl.type_description AS typeDescription,
            icl.order_status AS orderStatus,
            icl.ip AS ip,
            icl.update_time AS updateTime,
            icl.pay_card_amount AS payCardAmount,
            icl.welfare_card_amount AS welfareCardAmount,
            icl.book_id AS bookId,
            icl.inf_cash_log_id AS infCashLogId
        FROM
            sys_user AS u1,
            sys_user AS u2,
            inf_card_log AS icl
        WHERE
            u1.UserId = icl.pay_user_id
        AND u2.UserId = icl.paied_user_id
        AND icl.log_id = #{logId}
    </select>
</mapper>