<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcacg.mapper.ReplyMapper">

    <resultMap id="CommentResultMap" type="com.qcacg.entity.CommentEntity">
        <id column="commentId" property="commentId"/>
        <result column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="bookId" property="bookId"/>
        <result column="commentContent" property="commentContent"/>
        <result column="commentPicture" property="commentPicture"/>
        <result column="commentDate" property="commentDate"/>
        <collection property="replyEntityList" ofType="com.qcacg.entity.ReplyEntity" resultMap="RelyResultMap"/>
    </resultMap>

    <resultMap id="RelyResultMap" type="com.qcacg.entity.ReplyEntity">
        <id column="replyId" property="replyId"/>
        <result column="send_userId" property="userId"/>
        <result column="send_userName" property="userName"/>
        <result column="send_userHead" property="userHead"/>
        <result column="commentId" property="commentId"/>
        <result column="replyContent" property="replyContent"/>
        <result column="replyPicture" property="replyPicture"/>
        <result column="replyDate" property="replyDate"/>
        <result column="replyUserId" property="replyUserId"/>
        <result column="replyUserName" property="replyUserName"/>
        <result column="replyType" property="replyType"/>
    </resultMap>

    <select id="findCommentAndReplyByReplyUserId" resultMap="CommentResultMap" parameterType="com.qcacg.entity.message.MessageReceive">
SELECT
	inf_comment.BookId AS bookId,
	inf_comment.CommentContent AS commentContent,
	inf_reply.UserId AS send_userId,
	u1.UserName AS send_userName,
	u1.UserHead AS send_userHead,
	inf_reply.ReplyContent AS replyContent,
	inf_reply.ReplyPicture AS replyPicture,
	inf_reply.ReplyDate AS replyDate,
	inf_reply.ReplyType AS replyType,
	inf_reply.ReplyId AS replyId
    FROM
    sys_user u1,
	inf_reply,
	inf_comment
    WHERE
    inf_reply.CommentId = inf_comment.CommentId
    AND
    inf_reply.UserId = u1.UserId
    AND inf_reply.ReplyUserId = #{userId}
    ORDER BY
    inf_reply.ReplyType, inf_reply.ReplyDate DESC
    limit #{startRow}, #{pageSize}
    </select>

    <insert id="insertReply" parameterType="com.qcacg.entity.ReplyEntity" useGeneratedKeys="true" keyProperty="replyId">
        <selectKey keyProperty="replyId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() as replyId
        </selectKey>
        INSERT INTO inf_reply (replyId,userId,userName,commentId,replyContent,replyPicture,replyUserId,replyUserName, replyStatus)
        VALUES( #{replyId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{userName,jdbcType=VARCHAR},#{commentId,jdbcType=BIGINT},#{replyContent,jdbcType=VARCHAR},#{replyPicture,jdbcType=VARCHAR},#{replyUserId,jdbcType=BIGINT},#{replyUserName,jdbcType=VARCHAR}, #{replyStatus, jdbcType=VARCHAR})
    </insert>

    <delete id="deleteReply" parameterType="java.lang.Long">
        DELETE FROM
        inf_reply
        WHERE
        inf_reply.ReplyId = #{inf_reply.ReplyId}
    </delete>

    <update id="updateType" parameterType="java.util.List">
        UPDATE inf_reply
        SET inf_reply.ReplyType = '1'
        WHERE
        inf_reply.ReplyId
        IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.replyId}
        </foreach>
    </update>
</mapper>